body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

#interactive-panel {
    position: absolute;
    z-index: 1001;
    background-color: white;
    right: 10px;
    top: 10px;
    width: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 0.25rem;
    padding: 1rem;
}

.separator {
    height: 1rem
}

.map-type-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
    background: white;
    border-radius: 0.25rem;
}

.timeline-container {
    position: absolute;
    bottom: 10px;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}


#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    opacity: 0,5;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}